@import url(https://fonts.googleapis.com/css?family=Cabin:400);

.container-fluid {
  position: absolute;
  background-color: #1a1a1ae5 !important;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  color: azure;
}
.titulo {
  color: #5f5;

}
.cross{
  position: absolute;
  color: #5f5;  
  right: 0;
}
.card{
  background-color: transparent !important;
}