<div class="container-fluid animate__animated animate__fadeInLeft">
    <div class="cross m-3" (click)='closeModal()'>
        <i class="fas fa-times"></i>
    </div>
    <h3 class="titulo d-flex flex-row m-3">
        <h2>{{usuario['identity'].name}} {{usuario['identity'].secondname}}</h2>
    </h3>
    <div class="row">
        <div class="col m-5 d-flex flex-row justify-content-center" *ngIf="usuario">

            <!-- <ul>
                <li>First Name: {{usuario.identity.firstname}}</li>
                <li>Sex: {{usuario.identity.sex}}</li>
                <li>Date: {{usuario.identity.dateofbirth}}</li>
                <li>Heigth: {{usuario.identity.height}}</li>
                <li>Job: {{usuario.job}}</li>
                <li>Money: {{usuario.bank_money}}</li>
                <li>Licenses: {{usuario.licenses.weapon}} </li>
                <li>Phone: {{usuario.phone_number}} </li>
                <li>Vehicles: {{vehicles.model}} </li>
            </ul> -->
            <div class="card border-success m-3 " style="max-width: 18rem;">
                <div class="card-body text-success">
                    <h5 class="card-title">Genero</h5>
                    <p class="card-text">{{usuario.identity.sex | genero}}</p>
                    <h5 class="card-title">Fecha Nacimiento</h5>
                    <p class="card-text">{{usuario.identity.dateofbirth}}</p>
                    <h5
                        class="card-title d-flex flex-row justify-content-center align-content-center-4 justify-content-around">
                        <i class="large material-icons">accessibility</i>
                        <span> {{usuario.identity.height}} cm</span>
                    </h5>

                </div>
            </div>

            <div class="card border-success m-3" style="max-width: 18rem;">
                <div class="card-body text-success">
                    <h5 class="card-title">Job</h5>
                    <p class="card-text">{{usuario.job}}</p>
                </div>
            </div>
            <div class="card border-success m-3" style="max-width: 18rem;">
                <div class="card-body text-success">
                    <h5 class="card-title">Dinero</h5>
                    <p class="card-text">{{usuario.bank_money}}</p>
                </div>
            </div>

        </div>
    </div>
</div>