<div class="row d-flex align-content-center flex-column justify-content-center my-5">
    <div class="col col-6 d-flex justify-content-center my-5">
        <h3>Login</h3>
    </div>
    <div class="col col-6">
        <form #formlogin="ngForm">
            <div class="form-group">
                <label>Usuario:</label>
                <input #usuario name="usuario" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Contraseña:</label>
                <input #contrasena name="contrasena" type="text" class="form-control">
            </div>
            <button (click)="login()" class="btn btn-success">Entrar</button>
        </form>
    </div>
</div>