<section class="webdesigntuts-workshop center container-fluid">
    <div class="row d-flex flex-column">
        <div class="col formulario">
            <hr>
            <form #buscador="ngForm" action="" method="">
                <input #search type="search" placeholder="name || first name || second name">
                <button (click)="mostrarUsuario()">Search</button>
            </form>
            <hr>
        </div>

        <div class="col">
            <table class="table my-4 ">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Primer Apellido</th>
                        <th scope="col">Segundo Apellido</th>
                        <th scope="col">Fecha Nacimiento</th>
                        <th scope="col">Detalle</th>
                    </tr>
                </thead>
                <tbody *ngIf="users.length > 0">
                    <tr *ngFor="let u of users | paginate:
                    {
                    itemsPerPage: 2,
                    currentPage: paginaActual,
                    totalItems: users.length 
                    }
                    ;let i=index" >
                        <td>{{u.identity.name}}</td>
                        <td>{{u.identity.firstname}}</td>
                        <td>{{u.identity.secondname}}</td>
                        <td>{{u.identity.dateofbirth}}</td>
                        <td>
                            <span (click)='verUsuario(i)'>
                                <div class="spinner-grow spinner-grow-sm text-success"></div>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls class="paginacion" (pageChange)="paginaActual = $event"></pagination-controls>
        </div>
    </div>


</section>

<app-user *ngIf="usuario && mostrarModal && trabajo" [trabajo]='trabajo' [usuario]='usuario' (close)='close($event)'></app-user>