.card{
  background-color: #1a1a1a;
  border: 1px solid  #5f5; 
}
*{
  color:  #5f5;
}
.cajadatos{
  min-height: 85%;
  width: 100%;
}
.badge{
  background-color:#5f5 !important ;
  color: #1a1a1a !important ;
  font-weight: 200;
  font-size: 1em;
}
